:root {
  --bg: #f8f8f8;
  --text: #333;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 50px;
  transition: background 0.3s, color 0.3s;
}

header {
  margin-bottom: 40px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.dark {
  --bg: #222;
  --text: #f9f9f9;
}
